@import '../mixins/display-flex-column';

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  font-family: var(--modal-font-family);
  font-size: 18px;
  background-color: rgb(129 129 126 / 60%);

  &__container {
    inline-size: 480px;
    background-color: var(--page-background-color);
    padding: 20px;
    border-radius: 10px;
  }

  &-closed {
    display: none;
  }

  &__form {
    @include display-flex-column;
    gap: 24px;
  }

  &__fieldset {
    @include display-flex-column;
    gap: 24px;
    border: none;
  }

  &__fieldset label {
    @include display-flex-column;
  }

  &__input-textarea {
    resize: none;
  }
}
