nav.menu
  ul.menu__list
    li.menu__item
      a.menu__link(href='#biography') Biography
    li.menu__item
      a.menu__link.menu__link-active(href='#designers') Designers
    li.menu__item
      a.menu__link(href='#testimonials') Testimonials
    li.menu__item
      a.menu__link(href='#strong-points') Strong&nbsp;points
    li.menu__item
      button.menu__button-modal(type='button')
        //- svg.menu__button-svg(viewbox='0 0 34 35')
        //-   use(href='./svg/button-modal.svg#modal-icon')
