/* <<<--- HEADER --->>> */

.menu {
  font-family: var(--menu-font-family);
  font-weight: 500;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    gap: 3.9vw;
  }

  &__link-active {
    text-decoration: underline;
    pointer-events: none;
  }

  &__link:focus-visible {
    outline: 1px solid var(--page-color);
    border-radius: 4px;
  }

  &__link {
    transition: opacity 0.3s ease;
  }

  &__link:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  &__button-modal {
    inline-size: 54px;
    block-size: 54px;
    border-radius: 4px;
    box-shadow: 0 4px 4px;
  }

  &__button-modal::before {
    content: '\f086';
    font-family: var(--icon-font-family);
    color: var(--page-background-color);
  }

  &__button-svg {
    inline-size: 34px;
  }
}
