section.navigation
  nav.navigation__menu
    ul.navigation__list
      li.navigation__item
        a.navigation__link(href='#biography') B
      li.navigation__item
        a.navigation__link(href='#designers') D
      li.navigation__item
        a.navigation__link(href='#testimonials') T
      li.navigation__item
        a.navigation__link.navigation__link-active(href='#strong-points') S
