section#biography.biography.wrapper-inner
  img.biography__image(src='./images/biography.jpg', alt='Девушка в пустыне')
  h2.biography__title.section-title Biography
  article.biography__card
    h3.biography__card-title.page-title Katya Mills
    .biography__description
      h4.biography__card-subtitle Art&nbsp;Director
      ul.biography__list
        li.biography__item Scenography
        li.biography__item Styling
        li.biography__item Creative&nbsp;Photography
        li.biography__item Design
        blockquote.biography__blockquote
          p.biography__text &#8220;The more&nbsp;I deal with <br> the work as&nbsp;something that&nbsp;is my&nbsp;own, <br> as something that <br> is&nbsp;personal, the more successful it&nbsp;is.&#8221;
