section#testimonials.testimonials.wrapper-inner
  h2.testimonials__title.section-title.visually-hidden Testimonials
  .testimonials__left-side
    ul.testimonials__list
      li.testimonials__item.testimonials__item-start
        a.testimonials__link(href='#') 
          h4.testimonials__list-title Creativity
          p.testimonials__item-text www.whitepapers.com
      li.testimonials__item.testimonials__item-middle
        a.testimonials__link(href='#')
          h4.testimonials__list-title Creativity
          p.testimonials__item-text www.whitepapers.com
      li.testimonials__item.testimonials__item-end
        a.testimonials__link(href='#')
          h4.testimonials__list-title Website
          p.testimonials__item-text www.whitepapers.com
    img.testimonials__img(src='./images/cafe-big.jpg', alt='Кафе')
  .testimonials__right-side
    h2.testimonials__title-inside.section-title(aria-hidden='true') Testimonials
    blockquote.testimonials__blockquote
      p.testimonials__description I&nbsp;just really want to&nbsp;do good work and work with some great people, people who challenge me.
    picture
      source(media='(max-width: 768px)', srcset='./images/bag-big.jpg')
      img.testimonials__image-right(
        src='./images/bag-small.jpg',
        alt='Сумка с ништяками'
      )
