extends ../layouts/default

block main
  main.main
    include ../styles/sections/hero/hero
    include ../styles/sections/biography/biography
    include ../styles/sections/designers/designers
    include ../styles/sections/testimonials/testimonials
    include ../styles/sections/strong-points/strong-points
    include ../styles/sections/navigation/navigation
