footer.footer
  address.footer__address
    a.footer__address-link.footer__address-phone(href='tel:+79211234567') +7 921 123-45-67
    a.address__link.footer__address-email(href='mailto:info@sobaka.ge') info@modstudio.com
  p.footer__product A product of
    |
    |
    span.footer__product-accent MOD
  p.footer__rights &copy; 2023 Mod Media. All rights reserved
