/* <<<------ 2.2.5.strong-points styles ------>>> */
@import '../../mixins/display-flex-column';

.strong-points {
  @include display-flex-column;
  gap: 33px;
  padding-inline-start: 20px;

  &__title {
    padding-inline-start: 238px;
    line-height: 100%;
  }

  &__list {
    display: flex;
    gap: 20px;
    overflow: scroll;
  }

  &__item-info {
    @include display-flex-column;
    gap: 28px;
    align-items: center;
    padding: 0 37px 18px;
  }

  &__subtitle {
    font-size: var(--strong-points-subtitle-font-size);
    line-height: 100%;
  }

  &__sublist {
    padding-inline-end: 17px;
    font-family: var(--page-accent-font-family);
    font-size: var(--strong-points-sublist-font-size);
    line-height: 124%;
  }
}

@supports ((display: grid)) {
  .strong-points {
    display: grid;
    grid-template-rows: min-content 1fr;

    &__list {
      display: grid;
      grid-template-columns: auto;
      grid-auto-flow: column;
    }
  }
}
