doctype html 
html(lang='ru')
  head
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Учебный проект OTUS mocks')
    meta(
      name='keywords',
      content='проект, OTUS, otus, front-end, frontend, web, webdev'
    )
    title OTUS MOCKS
    link(rel='icon', href='./svg/favicon.svg', type='image/x-icon')
    link(rel='icon', href='./images/favicon.ico', sizes='any')
    link(rel='apple-touch-icon', href='./images/favicon.png')
    link(rel='stylesheet', href='bundle.css')
  body.page
    include ../styles/header/header
    block main
    include ../styles/footer/footer
