/* <<<------ 1.COMMON STYLES ------>>> */
/* <<<------ 1.1.BLOCKS ------>>> */

.page {
  display: flex;
  flex-direction: column;

  margin: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 24px;
}

.wrapper-inner-xs {
  padding-inline-start: 20px;
  padding-inline-end: 20px;
}

/* <<<------ 1.2.TITLES ------>>> */

.page-title {
  font-family: "Playfair Display", serif;
  font-size: clamp(4.375rem, 4.0539rem + 1.4679vw, 5.375rem);
  font-weight: 600;
  line-height: 120%;
}

.section-title {
  font-size: inherit;
  font-weight: 700;
}

/* <<<------ 2.MAIN CONTENT STYLES ------>>> */
/* <<<------ 2.1.HEADER ------>>> */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-start: 16px;
  padding-block-end: 16px;
}

.menu {
  font-weight: 500;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 55px;
}

/* <<<------ 3.MAIN STYLES ------>>> */

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 150px;
}

/* <<<------ 3.1.hero styles ------>>> */

.hero {
  display: flex;
  min-block-size: 630px;
  align-items: center;
  justify-content: center;
  background-image: url(../images/hero-background.jpg);
  background-image: image-set(
    url("../images/hero-background.avif") type("image/avif"),
    url("../images/hero-background.jpg") type("image/jpg")
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__present {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 110px 122px;
  gap: 14px;
  background-color: #fff;
}

.hero__title {
  font-weight: 500;
}

.hero__subtitle {
  font-size: 20px;
  font-weight: 500;
}

/* <<<------ 3.1.biography styles ------>>> */

.biography__card-title {
  font-weight: 500;
}

.biography__card-list {
  font-size: 18px;
  font-weight: 500;
  color: #0d0d0d;
}

.biography__blockquote {
  font-family: Bitter, serif;
  font-size: 26px;
  font-weight: 400;
  color: #0d0d0d;
}

.designers__list {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
}

.designers__title {
  text-transform: uppercase;
}

.designers__card-sublist .designers__card-subitem {
  font-weight: 400;
}

.testimonials__list {
  font-size: 16px;
  font-weight: 700;
}

.testimonials__item-text {
  font-weight: 400;
}

.testimonials__blockquote {
  font-family: Bitter, serif;
  font-size: 32px;
  font-weight: 400;
}

.strong-points__title {
  font-weight: 500;
}

.strong-points__sublist {
  font-family: Bitter, serif;
  font-size: 34px;
  font-weight: 400;
}

.footer {
  background-color: #000;
  color: #fff;
}

.address {
  font-size: 16px;
  font-weight: 400;
  line-height: 162.5%;
}

.address__phone {
  text-decoration-line: underline;
}

.address__email {
  text-decoration-line: underline;
  text-transform: uppercase;
}

.product {
  font-size: 18px;
  font-weight: 500;
}

.product-style {
  font-size: 24px;
  font-weight: 900;
}

.rights {
  font-size: 16px;
  font-weight: 400;
}
