/* <<<------ 1.COMMON STYLES ------>>> */
/* <<<------ 1.1.COMMON BLOCKS ------>>> */

.page {
  display: flex;
  flex-direction: column;
  min-inline-size: 350px;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 24px;
}

.wrapper-inner {
  max-inline-size: 1165px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* <<<------ 1.2.COMMON TITLES ------>>> */

.page-title {
  font-family: "Playfair Display", serif;
  font-size: clamp(4.375rem, 4.0539rem + 1.4679vw, 5.375rem);
  line-height: 120%;
}

.section-title {
  font-size: clamp(1.125rem, 1.0046rem + 0.5505vw, 1.5rem);
  font-weight: 700;
}

/* <<<------ 2.MAIN CONTENT STYLES ------>>> */
/* <<<------ 2.1.HEADER ------>>> */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
}

.header__title {
  font-weight: 600;
}

.menu {
  font-weight: 500;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 55px;
}

/* <<<------ 2.2.MAIN ------>>> */

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 150px;
}

/* <<<------ 2.2.1.hero styles ------>>> */

.hero {
  display: flex;
  min-block-size: 630px;
  align-items: center;
  justify-content: center;
  background-color: #d9cdc4;
  background-image: url(../images/hero-background.jpg);
  background-image: image-set(
    url("../images/hero-background.avif") type("image/avif"),
    url("../images/hero-background.jpg") type("image/jpg")
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7.5% 8.5%;
  gap: 14px;
  background-color: #fff;
}

.hero__title {
  font-weight: 500;
}

.hero__subtitle {
  font-size: clamp(1.125rem, 1.0682rem + 0.202vw, 1.25rem);
  font-weight: 500;
}

/* <<<------ 2.2.2.biography styles ------>>> */

.biography {
  display: flex;
  position: relative;
  gap: 139px;
}

.biography__image {
  max-inline-size: 49%;
  object-fit: contain;
}

.biography__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 36px;
}

.biography__title {
  position: absolute;
  transform: rotate(-90deg);
  left: 560px;
  top: 44px;
}

.biography__card-title {
  padding-block-start: 5px;
  padding-inline-end: 30px;
  font-weight: 500;
  line-height: 140%;
}

.biography__card-subtitle {
  font-size: 18px;
}

.biography__blockquote {
  position: relative;
  padding-block-start: 23px;
  padding-inline-end: 26px;
  font-family: Bitter, serif;
  font-size: 28px;
  font-weight: 400;
  color: #0d0d0d;
  letter-spacing: 0.5px;
  line-height: 112%;
}

.biography__blockquote::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 6px;
  left: 2px;
  top: -1px;
  background-color: #0d0d0d;
}

/* <<<------ 2.2.3.designers styles ------>>> */

.designers__list {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
}

.designers__card-title {
  text-transform: uppercase;
}

.designers__card-sublist .designers__card-subitem {
  font-weight: 400;
}

/* <<<------ 2.2.4.testimonials styles ------>>> */

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.testimonials__left-side {
  display: flex;
  position: relative;
  justify-content: end;
}

.testimonials__list {
  position: relative;
  font-size: 16px;
  font-weight: 700;
}

.testimonials__item {
  position: absolute;
  transform: rotate(-90deg);
  left: -139px;
}

.testimonials__item-start {
  bottom: 90px;
}

.testimonials__item-middle {
  bottom: 352px;
}

.testimonials__item-end {
  top: 113px;
}

.testimonials__item-text {
  font-weight: 400;
}

.testimonials__img {
  max-inline-size: 100%;
  object-fit: contain;
}

.testimonials__right-side {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-inline-start: 21%;
  gap: 38px;
  align-items: center;
  justify-content: center;
}

.testimonials__title-inside {
  position: absolute;
  transform: rotate(-90deg);
  left: -56px;
  top: 56px;
}

.testimonials__blockquote {
  padding: 0 25%;
  font-family: Bitter, serif;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  line-height: 1.1;
}

.testimonials__image-right {
  width: 221px;
  height: 334px;
}

/* <<<------ 2.2.5.strong-points styles ------>>> */

.strong-points__title {
  font-weight: 500;
}

.strong-points__sublist {
  font-family: Bitter, serif;
  font-size: 34px;
  font-weight: 400;
}

/* <<<------ 2.3.FOOTER ------>>> */

.footer {
  background-color: #000;
  color: #fff;
}

.address {
  font-size: 16px;
  font-weight: 400;
  line-height: 162.5%;
}

.address__phone {
  text-decoration-line: underline;
}

.address__email {
  text-decoration-line: underline;
  text-transform: uppercase;
}

.product {
  font-size: 18px;
  font-weight: 500;
}

.product-style {
  font-size: 24px;
  font-weight: 900;
}

.rights {
  font-size: 16px;
  font-weight: 400;
}
