:root {
    /* SIZES */
    --page-title-font-size: clamp(4.375rem, 4.0539rem + 1.4679vw, 5.375rem);
    --section-title-font-size: clamp(1.125rem, 1.0046rem + 0.5505vw, 1.5rem);
    --page-font-size: 24px;
    --hero-subtitle-font-size: clamp(1.125rem, 1.0682rem + 0.202vw, 1.25rem);
    --page-blockquote-font-size: clamp(1.625rem, 1.5114rem + 0.404vw, 1.875rem);
    --designers-font-size: 16px;
    --strong-points-sublist-font-size: clamp(1.5rem, 1.2159rem + 1.0101vw, 2.125rem);
    --footer-font-size: 16px;
    --footer-product-font-size: 18px;
    --footer-product-accent-font-size: 24px;


    /* COLORS & IMAGES */
    --hero-background-color: #d9cdc4;
    --hero-background-image: url(../images/hero-background.jpg);
    --hero-promo-background-color: #fff;
    --page-blockquote-color: #0d0d0d;
    --footer-background-color: #000;
    --footer-color: #fff;

    /* FONTS */
    --page-main-font-family: Roboto, sans-serif;
    --page-title-font-family: "Playfair Display", serif;
    --page-blockquote-font-family: Bitter, serif;
}